:root {
  --bg-color: #322d29;
  --foreground-color: #72383d;
  --section-color: #ac9c8d;
  --card-color: #d1c7bd;
  --header-color: #d9d9d9;
  --text-color: #efe9e1;
}

@font-face {
  font-family: "Rye";
  src: url("../fonts/rye.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/*Hide scollbar*/
::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth; /*Smoth scolling when navigating by the links in nav*/
}

body {
  font-family: "Rye", sans-serif; /* Fallback to sans-serif if font fails to load */
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

/*Css för produkt kort, alla var delaktig i att göra kortet*/

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(100, 1fr);
  background-color: var(--card-color);
  padding: 10px;
  border-radius: 15px;
  height: 500px;

  img {
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/60;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .brand {
    grid-row: 61/68;
    grid-column: 1;
    margin: 0;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
  }

  .price {
    grid-row: 61/68;
    grid-column: 2;
    margin: 0;
    text-align: right;
    white-space: nowrap;
    padding: 10px;
    margin-right: -10px; /*Do not remove, when the price is 5 digits button is places wrong if this margin is removed*/
  }

  .price-off {
    color: red;
  }

  .inStock-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 0.7rem;
    gap: 0.5rem;
    grid-row: 69/74;
    grid-column: 2;
  }

  .product-inStock {
    margin: 0;
    text-align: right;
  }
  .inStock-status {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 999rem;
  }
  .inStock-status-green {
    background-color: green;
  }
  .inStock-status-red {
    background-color: red;
  }
  .campanj {
    padding: 5px 5px 0px 5px;
    margin-bottom: 0;
    background-color: red;
    grid-row: 66/75;
    grid-column: 1;
    max-width: fit-content;
  }
  .desc {
    padding: 10px;
    grid-row: 74/80;
    grid-column: 1/3;
  }
  .addToCart-btn {
    margin-top: 2rem;
    font-family: "Rye", sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1.3px;
    grid-column: 1/3;
    grid-row: 83/101;
    padding: 10px 20px;
    border-radius: 15px;
    border: 0;
    color: var(--text-color);
    background-color: var(--foreground-color);

    &:hover {
      color: var(--foreground-color);
      background-color: var(--text-color);
      transition: ease-in-out 0.5s;
    }
  }
}

header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.6;
  background-color: var(--foreground-color);
}

header h1 {
  font-size: clamp(1rem, 6vw, 2rem);
  margin: 0;
  color: var(--text-color);
}

header label {
  color:var(--header-color);
}

header nav {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  left: -100vw;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100vw;
}

nav ul {
  list-style: none;
  display:flex;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

nav ul a:link,
nav ul a:visited,
nav ul a:hover,
nav ul a:active {
  color: var(--text-color);
}

nav ul li a {
  text-decoration:none;
}

nav ul li a:hover,
nav ul li a:focus {
  text-decoration:underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

nav label {
  line-height: 3;
  margin-right: 1rem;
}

nav .nav-icon {
  width: 24px;
  padding-top: 4px;
  filter:invert(0.85);
}

nav .nav-icon:hover{
  filter:invert();
}

nav .nav-icon a:focus{
  filter:invert(0.3);
}

nav ul li a:hover{
  color:white;
}

#menuToggle {
  display: none;
}

#menuToggle:checked + label + nav {
  left: 0;
  transition: 0.3s;
}

.section-header {
  color: var(--text-color);
  font-size: clamp(1rem, 5vw, 2.5rem);
  padding-left:20px;
  padding-bottom:clamp(1.5rem, 3vw, 2.5rem);
  padding-top:clamp(1.5rem, 3vw, 2.5rem);
  margin: 0;
}

.section-header:nth-child(1){
  padding-top:clamp(2rem, 3vw, 2.5rem);
}

.skjortor,
.skor,
.byxor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 15px;
}

footer {
  padding: 100px;
  position: relative;
  background-color: var(--foreground-color);
  margin-top: 200px;
}

footer::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 100;
  background: url("../res/footersurf.svg");
  background-position: center;
  background-size: cover;
}

@media (max-width:649px) {
  nav ul li a {
    font-size:clamp(1.6rem, 2rem, 3rem);
  }

  nav .nav-icon {
    width: 2rem;
    padding-top:1rem;
  }

  nav ul li {
    padding:0.5rem;
  }

  nav ul li a:hover,
  nav ul li a:focus {
    text-decoration:underline;
    font-size:2.5rem;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 1rem;
  }

  header label {
    font-size:clamp(1.5rem,2vw,2rem);
  }
  
}

@media (min-width: 650px) {
  header > label,
  nav label {
    display: none;
  }

  header nav {
    background-color: transparent;
    color: var(--text-color);
    display: flex;
    height: auto;
    left: auto;
    position: relative;
    transform: none;
    transition: none;
    top: auto;
    width: auto;
  }

  nav ul {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  nav ul li {
    padding-right: 0.5rem;
    font-size:clamp(1.45rem,1.5vw,2rem);
  }

  nav ul li:nth-last-child(1) {
    padding-right: 0rem;
  }

  header ul a:link,
  header ul a:visited,
  header ul a:hover,
  header ul a:active {
    color: var(--text-color);
  }

  nav .nav-icon{
    padding-top:10px;
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 50px;
  max-width: 1400px;
}

.footer-section-links ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 20px;
  border-top: 1px solid var(--header-color);
}
.footer-section-links ul li {
  margin: 0;
}
.footer-section-links ul li a {
  margin: 0;
  white-space: nowrap;
  text-decoration: none;
  color: var(--text-color);
  display: inline-block;
  transition: all 0.3s ease;
  position: relative;
}

.footer-section-links ul li a:hover {
  transform: scale(1.02);
}

.footer-section-links ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--header-color);
  transition: width 0.5s ease;
}

.footer-section-links ul li a:hover::before {
  width: 100%;
}

.footer-section-text {
  max-width: 900px;
}

.footer-section-text .footer-heading {
  color: var(--header-color);
  margin: 0;
}
.footer-section-text p {
  line-height: 23px;
  color: var(--text-color);
}

@media (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 100px;
  }

  .footer-section-links ul {
    border: none;
  }
}

@media (min-width:1200px){
  nav ul li {
    padding-right: 0.5rem;
    font-size:2rem;
  }

  nav .nav-icon{
    padding-top:10px;
    width:30px;
    padding-right:1rem;
    padding-left:1rem;
  }

  nav .nav-text{
    padding-right:1rem;
    padding-left:1rem;
  }

  nav .nav-icon:nth-last-child(1){
    padding-right:1rem;
  }
}