:root {
  --bg-color: #322d29;
  --foreground-color: #72383d;
  --section-color: #ac9c8d;
  --card-color: #d1c7bd;
  --header-color: #d9d9d9;
  --text-color: #efe9e1;
}

@font-face {
  font-family: "Rye";
  src: url("../fonts/rye.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/*Hide scollbar*/
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Rye", sans-serif; /* Fallback to sans-serif if font fails to load */
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
}

/*Css för produkt kort, alla var delaktig i att göra kortet*/

.skjortor-wrapper {
  display: grid;
  justify-items: center;
  gap: 10px;
  padding: 10px;
}
.skjortor h2{
  text-align: center;
  color: var(--header-color);
}
@media (min-width: 400px) {
  .skjortor-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .skjortor-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .skjortor-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  .skjortor-wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1920px) {
  .skjortor-wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
}
footer {
  padding: 100px;
  position: relative;
  background-color: var(--foreground-color);
  margin-top: 200px;
}

footer::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 100;
  background: url("../res/footersurf.svg");
  background-position: center;
  background-size: cover;
}

.footer-wrapper {
  display: grid;
  gap: 50px;
}

.footer-section-links ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 7px;
  column-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 10px;
  border: 1px solid var(--header-color);
}
.footer-section-links ul li {
  margin: 0;
}
.footer-section-links ul li a {
  margin: 0;
  white-space: nowrap;
  text-decoration: none;
  color: var(--text-color);
  display: inline-block;
  transition: all 0.3s ease;
  position: relative;
}

.footer-section-links ul li a:hover {
  transform: scale(1.02);
}

.footer-section-links ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--header-color);
  transition: width 0.5s ease;
}

.footer-section-links ul li a:hover::before {
  width: 100%;
}

.footer-section-text {
  max-width: 900px;
}

.footer-section-text .footer-heading {
  color: var(--header-color);
  margin: 0;
}
.footer-section-text p {
  line-height: 23px;
  color: var(--text-color);
}

@media (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 100px;
    max-width: 1400px;
  }
}
